<div class="card">
   <div class="card-content">
      <span class="card-title"> Change Orders</span>
      <p>There are <%= @project.change_orders.count %> change orders associated with this project.</p>
   </div>
   <div class="card-action">
      <%= link_to "View Log", project_change_orders_path(@project)  %>
      <%= link_to  "Add a Change Order", new_project_change_order_path(@project) %>
   </div>
</div>
