<div class="card">
   <div class="card-content">
      <span class="card-title"> RFIs</span>
      <p>There are <%= @project.rfis.count %> RFIs associated with this project.</p></br>
   </div>
   <div class="card-action">
      <%= link_to "View Log", project_rfis_path(@project)  %>
      <%= link_to  "Add an RFI", "#" %>
   </div>
</div>
